body {
    background-color: rgb(154, 207, 158);

    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 0px rgb(65, 100, 62);
}

#title {
    text-align: center;

    max-width: 500px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    animation-name: titleAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes titleAnimation {
    from {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.05);
    }

    to {
        transform: scale(1.0);
    }
}

#imgField {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 300px;
    height: auto;
}

.blocks {
    margin: 5px;
    width: 100px;
    height: 100px;
    background: rgb(154, 207, 158);
}

#field {
    width: 308px;
    height: 308px;
    background: #000000;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gameContainer {
    text-align: center;
    font-size: 56px;
    line-height: 100px;
    margin-bottom: 20px;
}

#container {
    position: relative;
    margin-left: 50%;
}

#one {
    margin-top: -309px;
    margin-left: -155px;
}
#two {
    margin-left: -155px;
}
#three {
    margin-left: -155px;
}

#four {
    margin-top: -315px;
    margin-left: -50px;
}
#five {
    margin-left: -50px;
}
#six {
    margin-left: -50px;
}

#seven {
    margin-top: -315px;
    margin-left: 55px; 
}
#eight {
    margin-left: 55px; 
}
#nine {
    margin-left: 55px; 
}

#whoWalk {
    position: relative;
    top: 40px;
    font-size: 24px;
    text-align: center;
    display: block;
    margin-bottom: 50px;
    left: -5px;
}

#x, #o {
    margin-left: 15px;
    font: inherit;
    width: 0.80em;
    height: 0.80em;
    position: relative;
    top: 2px;
}

#win {
    position: relative;
    top: 15px;
    text-align: center;
    font-size: 28px;
}

.wins {
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 24px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 3px solid black;
    border-radius: 10px;
    width: 210px;
}

#playAgain {
    margin-top: 60px;
    width: 100px;
    height: auto;

    display: none;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;

    transition: all 0.2s ease;
}

#playAgain:hover {
    transform: scale(1.02, 1.02);
}
#playAgain:active {
    transform: scale(1.02, 1.02);
}

#mode {
    margin-top: 20px;

    font-size: 20px;
    text-align: center;
}

#chooseMode {
    border: 1px solid black;
    border-radius: 3px;
    width: 120px;

    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: rgb(130, 179, 134);
}
